# Binaries for programs and plugins
*.exe
*.exe~
*.dll

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# editor goodies
.idea
Zig.iml
.zed
.vscode
.devcontainer

# macos stuff
.DS_Store
*/.DS_Store

# private dir for notes and such
private/
.private/

# log output
*.log

# coverage
cover.out

# clab build dir
.clab/clab-scrapligo

# where we mount stuff when running clab bits
.clab
