# Binaries for programs and plugins
*.exe
*.exe~
*.dll

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# jetbrains goodies
.idea

# macos stuff
.DS_Store
*/.DS_Store

# private dir for notes and such
private/
.private/

# log output
*.log

# vscode
.vscode
.devcontainer

# coverage
cover.out

# clab build dir
.clab/clab-scrapligo

# functional testing things (containerlab bin will go away once dind fix is merged and released)
e2e/clab/clab-libscrapli
e2e/clab/*.bak
e2e/clab/launcher/containerlab